@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  background-color: #f3f3f3;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

@theme {
  --font-roboto: "Roboto", "sans-serif";
  --font-bold--font-style: bold;
  --font-semibold--font-style: semi-bold;
  --text-huge: 55px;
  --text-huge--font-weight: 600;
  --text-medium: 45px;
  --text-medium--font-weight: 500;
  --text-heading: 24px;
  --text-heading--font-weight: 400;
  --text-regular: 18px;
  --text-regular--font-weight: 300;
  --text-small: 16px;
  --text-small--font-weight: 300;
  --color-primary: #f3f3f3;
  --color-secondary: #0fa3b1;
  --color-tertiary: #f26a8d;
}